
html,body{
    background-image: url('../../assets/images/memphis-colorful.png');
    font-family: 'Shadows Into Light', cursive;   
    text-align: center;   
}

#name{
    font-size: 30px;
}

.btnStyle{
    margin: 10px;
}

#buttonAnimal{
    padding: 10px;
    text-align: center;
}

#movieDiv{
    align-content: center;
    text-align: center;
}

img{
    text-align: center;
    align-content: center;
}